body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: linear-gradient(to top, #7AB6E2, #f0f2f5);
    background-attachment: fixed;
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 20px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 2em;
    margin: 0;
    color: #7AB6E2;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    margin: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 72px;
    z-index: 999;
}

nav a {
    color: #333;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    border-radius: 10px;
    margin: 0 10px;
}

nav a:hover {
    background-color: #7AB6E2;
    color: white;
}

nav a.active{
    background-color: #7AB6E2;
    color: white;
}

.content {
    padding: 40px 20px;
    animation: fadeIn 1s;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #7AB6E2;
}

.content p {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 20px auto;
    line-height: 1.6;
}

.team-photo {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.team-photo:hover {
    transform: scale(1.05);
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style: none;
}

.team-members li {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 0 1 calc(33.333% - 40px);
    box-sizing: border-box;
}

.team-members li:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #ffffff;
    color: #333;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .team-members li {
        flex: 0 1 calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .team-members li {
        flex: 0 1 100%;
    }
}

/* Spezifisch für Trainingsplan */

#trainingschedule {
    text-align: center;
}

#trainingschedule ul {
    list-style: none;
    padding: 0;
}

#trainingschedule {
    margin-bottom: 10px;
    font-size: 1em;
}

/* Spezifisch für Kontakt */
#contact {
    margin-bottom: 10px;
    font-size: 1em;
}

#contact {
    text-align: center;
}

#contact ul {
    list-style: none;
    padding: 0;
}

.contact-btn {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 15px;
    background-color: #3498db; /* Blau */
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: #2980b9; /* Dunkleres Blau */
}

#schedule {
    text-align: center;
}

#schedule ul {
    list-style: none;
    padding: 0;
}

#news {
    text-align: center;
}

#news ul {
    list-style: none;
    padding: 0;
}
/* Spezifisch für Verein*/
#verein {
    text-align: center;
}

#verein ul {
    list-style: none;
    padding: 0;
}

#verein {
    margin-bottom: 10px;
    font-size: 1em;
}

.sponsor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0;
    list-style: none;
}
.sponsor-item {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
}
.sponsor-item:hover {
    transform: scale(1.05);
}
.sponsor-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
        .verein-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0;
    list-style: none;
}
.verein-item {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
}
.verein-item:hover {
    transform: scale(1.05);
}
.verein-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Spezifisch für Team */

#team {
    text-align: center;
}

#team ul {
    list-style: none;
    padding: 0;
}

#trainingsession {
    margin-bottom: 10px;
    font-size: 1em;
}

#trainingsession {
    text-align: center;
}

#trainingsession ul {
    list-style: none;
    padding: 0;
}

/* Spezifisch für Trainer */
#trainer {
    margin-bottom: 10px;
    font-size: 1em;
}

#trainer {
    text-align: center;
}

#trainer ul {
    list-style: none;
    padding: 0;
}

#home {
    display: flex;
    flex-direction: column;   /* Stellt sicher, dass der Inhalt untereinander steht */
    align-items: center;      /* Horizontal zentrieren */
    justify-content: center;  /* Vertikal zentrieren */
    text-align: center;       /* Text innerhalb der Elemente zentrieren */
    min-height: 100vh;
}

#home img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
